@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import "./variabls";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $font-one;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - 120px);
  background: $bg-color;
}

/////// Navbar
.head {
  display: block;
  min-width: 100%;
  position: relative;
  &--msg {
    background-color: $txt-prim-color;
    color: $txt-white;
    .container {
      @include nav-flex(flex-end);
    }
    span {
      margin-right: auto;
      font-size: 0.75rem;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 0.75rem;
      background: transparent;
      color: $txt-white;
      margin-left: 0.5rem;
      &:last-of-type {
        background: #505050;
        &:hover {
          background: #626262;
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 5rem;
    background: white;
    .container {
      height: 100%;
      @include nav-flex(space-between);
    }
    &--Logo {
      width: 170px;
      display: inline-block;
    }
    &--items {
      list-style: none;
      display: flex;
      font-family: $font-two;
      font-weight: 600;
      li {
        margin: 0 1rem;
      }
    }
    &--icons {
      @include nav-flex(center);
      button {
        background: transparent;
        margin-left: 1rem;
        border: 0;
        cursor: pointer;
        img {
          width: 25px;
        }
        &:last-of-type {
          img {
            width: 40px;
          }
        }
        &:hover {
          img {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

/////// Footer
.footer {
}
