@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import "./variabls";
@import "./spinners";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $font-one;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - 87px);
  background: $bg-color;
}

.spinner-wrapper {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  @include spinner(2em, 6px double $txt-sec-color, border-width 5px);
  &--box {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 3rem;
    margin: 5rem auto;
    justify-content: center;
    align-items: stretch;
  }
}

/////// Navbar
.head {
  display: block;
  min-width: 100%;
  position: relative;
  &--msg {
    background-color: $txt-prim-color;
    color: $txt-white;
    .container {
      @include nav-flex(flex-end);
    }
    span {
      margin-right: auto;
      font-size: 0.75rem;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      background: transparent;
      color: $txt-white;
      margin-left: 0.5rem;
      &:last-of-type {
        background: #333;
        &:hover {
          background: #444444;
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 3.5rem;
    background: white;
    .container {
      height: 100%;
      @include nav-flex(space-between);
    }
    &--Logo {
      width: 135px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &--items {
      text-transform: uppercase;
      font-family: $font-two;
      font-weight: 600;
      font-size: 0.75rem;
      list-style: none;
      display: flex;
      li {
        margin: 0 1.5rem;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &--icons {
      @include nav-flex(center);
      button {
        background: transparent;
        margin-left: 1rem;
        border: 0;
        cursor: pointer;
        img {
          width: 22px;
        }
        &:last-of-type {
          img {
            width: 36px;
          }
        }
        &:hover img {
          opacity: 0.6;
        }
      }
    }
  }
}

/////// Footer
.footer {
  background: #151515;
  font-family: $font-two;
  position: relative;
  color: #f1f1f1;
  padding: 2rem 0;
  height: 12rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-size: 0.75rem;
    font-weight: 400;
    li {
      margin: 0 0.65rem;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &--grid-wrapper {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
  }
  &--gridbox-ft {
    form {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1rem;
    }
    input,
    button {
      padding: 0.5rem;
      border: 0;
    }
    button {
      background: $txt-sec-color;
      color: $txt-white;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background: #2b97c5;
      }
    }
    span,
    a {
      font-size: 0.8rem;
      color: $txt-white;
    }
    span {
      font-weight: 300;
      line-height: 1.5;
    }
    a {
      font-weight: 700;
    }
  }
  &--gridbox-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    span {
      color: #808080;
      font-size: 0.75rem;
      position: absolute;
      bottom: 0.5rem;
    }
  }
  &--gridbox-thr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    span {
      margin: 0.2rem 0 0.5rem;
      font-weight: 200;
      font-size: 0.85rem;
    }
    ul {
      justify-content: space-evenly;
      width: 100%;
    }
    li {
      cursor: pointer;
      &:hover img {
        opacity: 0.7;
      }
    }
  }
}

/////// Main --Landing-Page
.main {
  &--hero {
    height: 550px;
    @include cover-poser;
  }
  &--section-intro {
    padding: 4rem 0 4.5rem;
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.6;
      justify-content: center;
      text-align: center;
      width: 650px;
      margin: 0 auto;
      p {
        color: $txt-paragraph;
        font-size: 0.95rem;
        font-weight: 500;
        text-transform: lowercase;
        font-family: $font-two;
      }
      div {
        width: 160px;
        display: inline-block;
        margin-bottom: 0.95rem;
      }
      button {
        background: #000000;
        margin-top: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        padding: 1rem;
        color: white;
        border: 0;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
  }
  &--section-prods {
    height: 100%;
    width: 100%;
    &-box {
      display: block;
      overflow: hidden;
      h4 {
        text-align: center;
        font-weight: 400;
        color: white;
      }
    }
    &-grid {
      margin: 0 auto 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, 377px);
      align-items: center;
      justify-content: center;
      grid-gap: 1.5rem;
    }
    .card {
      @include cover-poser;
      height: 500px;
      width: 100%;
      color: white;
      cursor: pointer;
      &--over {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000d9;
        transition: all 0.2s ease-out;
        span {
          font-family: $font-two;
          font-weight: 800;
          letter-spacing: 1.5px;
          font-size: 1.15rem;
        }
      }
      &:hover {
        .card--over {
          background: #00000087;
        }
      }
    }
  }
  &--section-cover {
    @include cover-poser;
    font-family: $font-two;
  }
  &--section-iframe {
    position: relative;
    padding-bottom: 49.5%;
    margin: 1.5rem 5rem;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &--section-instagram {
    width: 100%;
    height: 100%;
    display: block;
    padding: 2rem 0;
    h4 {
      font-weight: 400;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .instagram {
    &--grid {
      display: grid;
      grid-template-columns: repeat(3, 320px);
      justify-items: center;
      grid-gap: 3em;
      margin: 2rem 0;
    }
    &--img {
      height: 320px;
      width: 320px;
      background: gainsboro;
      img {
        width: inherit;
      }
    }
  }
}

/////// Main --Sign-In-Page
.main {
  &--signin-wrapper {
    display: grid;
    grid-template-columns: repeat(2, calc(50vw / 2));
    grid-gap: 5rem;
    align-items: baseline;
    justify-content: center;
    padding: 3.5rem 0 4rem;
    font-family: $font-two;
    h3,
    label {
      font-weight: 600;
    }
    p,
    ul {
      font-size: 0.9rem;
      color: $txt-paragraph;
      line-height: 1.75;
    }
    .signin-content {
      &-ft {
        button {
          border: 0;
          cursor: pointer;
          background: #000000;
          align-self: baseline;
          color: white;
          font-size: 0.95rem;
          padding: 1rem 1.15rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            background: #1f1f1f;
          }
        }
        input {
          padding: 0.75rem 0.5rem;
          background: transparent;
          margin: 0.5rem 0 1.5rem;
          border: 2px solid #4d4d4d;
        }
        a {
          text-decoration: none;
          color: $txt-sec-color;
          font-weight: 500;
          font-size: 0.85rem;
          &:hover {
            opacity: 0.6;
          }
        }
        form {
          display: flex;
          flex-direction: column;
        }
        div p {
          margin: -1.2rem 0 0.5rem;
        }
        p {
          margin: 1rem 0 1.5rem;
        }
        label:last-of-type {
          align-self: baseline;
          margin: 1rem 0 0.5rem;
          font-size: 0.9rem;
          input {
            margin-right: 0.5rem;
          }
        }
      }
      &-sec {
        button {
          border: 0;
          cursor: pointer;
          background: #000000;
          align-self: baseline;
          color: white;
          font-size: 0.95rem;
          padding: 1rem 1.15rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            background: #1f1f1f;
          }
        }
        ul {
          margin-left: 1rem;
          margin-bottom: 1rem;
          list-style: circle;
        }
        p {
          margin: 1rem 0 0;
        }
      }
      &-ft,
      &-sec {
        display: block;
        height: 100%;
        margin: 0 1.25rem;
      }
    }
  }
}

/////// Main --Sign-Up-Page
.main {
  &--signup-wrapper {
    display: block;
    width: 100%;
    font-family: $font-two;
    padding: 3.5rem 0 4rem;
    .signin-content-sec {
      display: block;
      height: 100%;
      margin: 0 6.25rem;
      p {
        margin: 1rem 0 0;
      }
    }
    h3,
    label {
      font-weight: 600;
    }
    p,
    ul {
      font-size: 0.9rem;
      color: $txt-paragraph;
      line-height: 1.75;
    }
    ul {
      margin-left: 1rem;
      margin-bottom: 1rem;
      list-style: circle;
    }
  }
  &--signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    &-note {
      align-self: baseline;
      margin: 0 6.25rem 1rem;
      color: $txt-sec-color !important;
    }
    form {
      width: 100%;
      display: flex;
      padding: 0 6.25rem;
      flex-direction: column;
      line-height: 1.75;
      input {
        padding: 0.65rem 0.5rem;
        background: transparent;
        margin: 0.5rem 0 1.5rem;
        border: 2px solid #4d4d4d;
      }
      div p {
        margin: -1.2rem 0 0.5rem;
      }
      button {
        border: 0;
        cursor: pointer;
        margin-top: 1rem;
        background: #000000;
        align-self: baseline;
        color: white;
        font-size: 0.95rem;
        padding: 0.75rem 1rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
    &-checkboxs {
      display: flex;
      flex-direction: column;
      label {
        font-weight: 500;
        font-size: 0.95rem;
      }
      input {
        margin-right: 0.5rem !important;
      }
    }
  }
}

// Main --Shop/Surfbards-Page
.main {
  .products--hero {
    padding: 1.5rem 0 0;
    &-bg {
      background-position: 0% 72%;
      background-size: cover;
      height: 350px;
      width: 100%;
    }
    &-over {
      background: linear-gradient(0deg, #00000069 0%, transparent 50%);
      height: inherit;
      width: inherit;
      position: relative;
      span {
        position: absolute;
        color: white;
        font-size: 0.85rem;
        bottom: 1rem;
        right: 2.5rem;
      }
    }
  }
  .products--main {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    &-aside {
      font-family: $font-two;
      min-height: 100vh;
      width: 307px;
      padding: 1rem 0.5rem;
      ul {
        padding: 1rem 0;
        list-style: none;
        overflow: hidden;
      }
      li {
        margin: 0.5rem 0;
        &:nth-child(n + 2):before {
          content: "+";
          display: inline-flex;
          color: $txt-paragraph;
          margin-right: 0.5rem;
        }
      }
      a {
        text-decoration: none;
        color: $txt-prim-color;
        font-weight: 600;
        font-size: 0.95rem;
      }
      p {
        line-height: 1.5;
        color: $txt-paragraph;
        font-size: 0.8rem;
      }
    }
    &-store {
      padding: 0 1rem;
      margin: 0 1rem;
      width: 100%;
    }
    &-sublist {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 1rem;
      a {
        margin: 0.5rem 0;
        font-size: 0.8rem;
        text-decoration: underline;
        text-decoration-color: #bdbdbd;
        color: #1f1f1f;
        font-weight: normal;
        &:hover,
        &:focus {
          text-decoration-color: #1277c2;
          color: #1277c2;
        }
      }
    }
    h3 {
      color: $txt-prim-color;
      margin-bottom: 0.5rem;
      font-family: $font-two;
      font-size: 1rem;
      font-weight: 800;
    }
  }
  .products {
    &--card-wrapper {
      padding: 1rem 0;
    }
    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      grid-gap: 1.5rem;
      a {
        text-decoration: none;
        transition: 0.2s all ease-out;
      }
      a:hover {
        transform: scale(1.05);
      }
    }
    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      padding: 1rem 1rem 0;
      overflow: hidden;
      box-shadow: 0px 5px 15px #0000005c;
      img {
        width: 200px;
        height: 200px;
        object-fit: scale-down;
        object-position: center;
      }
      &-flex {
        display: flex;
        flex-direction: column;
        width: calc(100% + 2rem);
        position: relative;
        align-items: center;
        padding: 0.3rem 0 0.75rem;
        margin-top: 1rem;
        background: $txt-prim-color;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 105%;
          height: 91%;
          right: 0;
          top: 0;
          background: inherit;
          position: absolute;
          transform: rotate(5deg);
          transform-origin: right;
        }
        span {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          color: #9c9c9c;
          z-index: 5;
          &:last-of-type {
            margin-bottom: 0;
            font-size: 0.95rem;
            color: #f9f9f9;
          }
        }
      }
    }
  }
}

/////// Main --Product-Page
.main {
  &--product {
    padding-top: 1.5rem;
    &-header {
      display: block;
      width: 100%;
    }
    .carousel {
      * {
        background: white !important;
      }
      .control-prev.control-arrow:before {
        border-right: 8px solid #151515 !important;
      }
      .control-next.control-arrow:before {
        border-left: 8px solid #151515 !important;
      }
      &--image {
        height: 315px;
        object-fit: contain;
        object-position: center;
        margin: 0 0 2.2rem;
        background: white;
      }
      .control {
        &-dots .dot {
          background: #444444 !important;
        }
      }
    }
    &-cart {
      margin: 1.5rem 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-desc {
      margin: auto;
      width: 75%;
      color: $txt-paragraph;
      font-size: 0.85rem;
      line-height: 1.5;
      font-family: $font-two;
    }
    &-details {
      font-family: $font-two;
      .extra-info {
        font-size: 0.9rem !important;
        font-weight: 600;
        margin: 0 !important;
      }
      .details-flex {
        margin: 4rem 0 2rem;
        background: #242424;
        color: #f9f9f9;
        padding: 2rem;
        display: flex;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: space-around;
        &-btn {
          width: 60%;
          display: flex;
          margin: 0 auto;
          align-items: baseline;
          button {
            color: white;
            background: transparent;
            border: 2px solid darkgray;
            padding: 1rem 2rem;
            margin: 0 auto;
            font-size: 1rem;
            font-weight: 600;
          }
        }
        &-txt {
          padding-top: 0.5rem;
          line-height: 1.9;
          width: 100%;
          p {
            font-size: 1.35rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
          }
        }
        &-table {
          margin-bottom: 2rem;
          .table-data {
            &--row {
              width: 100%;
              height: 100%;
            }
            &--main {
              width: 50%;
              font-weight: 600;
              font-size: 0.85rem;
            }
            &--specs {
              font-weight: 400;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  .product {
    &-info {
      display: flex;
      flex-direction: column;
      font-family: $font-two;
      align-items: flex-start;
      span {
        margin: 0 0 0.5rem;
        font-size: 0.95rem;
        color: #242424;
        font-weight: 500;
        &::before {
          content: "Name: ";
          font-weight: 700;
          margin-right: 0.55rem;
          color: $txt-prim-color;
        }
        &:last-of-type {
          font-weight: 700;
          &::before {
            content: "Price: ";
            font-weight: 700;
            margin-right: 1rem;
            color: $txt-prim-color;
          }
        }
      }
    }
    &-btns {
      &-select {
        padding: 0.7rem 0.75rem;
      }
      .button-md {
        padding: 0.75rem 0.85rem;
        margin-left: 0.5rem;
        cursor: pointer;
        border: 0;
        color: white;
      }
      .cart-btn {
        background: #61c323;
        &:hover {
          background: #6fd82d;
        }
      }
      .wish-btn {
        background: #151515;
        &:hover {
          background: #242424;
        }
      }
      .extra-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: $font-two;
        margin-top: 0.5rem;
        line-height: 1.65;
        font-size: 0.8rem;
        span {
          color: $txt-paragraph;
          &:last-of-type {
            color: #3f9409;
            font-weight: 500;
          }
        }
      }
    }
  }
}
