@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import "./variabls";
@import "./spinners";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-family: $font-one;
}
.container {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 3rem;
  }
  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }
}
.main {
  min-height: calc(100vh - 87px);
  background: $bg-color;
}

.spinner {
  @include spinner(
    2em,
    6px double #0084c3,
    border-width 5px,
    border-color #0084c3
  );
  &--block {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 3rem;
    margin: 5rem auto;
    justify-content: center;
    align-items: stretch;
  }
  &--fallback {
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/////// Navbar
.head {
  display: block;
  min-width: 100%;
  position: relative;
  &--msg {
    background-color: #0084c3;
    color: $txt-white;
    position: relative;
    z-index: 10;
    height: 1.95rem;
    .container {
      @include nav-flex(flex-end);
    }
    span {
      margin-right: auto;
      font-size: 0.6rem;
      font-weight: 600;
      font-family: $font-two;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      padding: 0.5rem 0.75rem;
      background: transparent;
      color: $txt-white;
      margin-left: 0.5rem;
      font-size: 0.75rem;
    }
    a button {
      background: #00739e;
      &:hover {
        background: #176092;
      }
    }
  }

  .nav {
    width: 100%;
    height: 3.5rem;
    background: white;
    position: relative;
    z-index: 10;
    .container {
      height: 100%;
      @include nav-flex(space-between);
    }
    &--Logo {
      width: 135px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &--items {
      text-transform: uppercase;
      font-family: $font-two;
      font-weight: 700;
      font-size: 0.7rem;
      list-style: none;
      display: flex;
      li {
        margin-right: 4.5rem;
        cursor: pointer;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    &--icons {
      @include nav-flex(center);
      button {
        outline: none;
        background: transparent;
        margin-left: 1rem;
        border: 0;
        cursor: pointer;
        img {
          width: 22px;
        }
        a {
          img {
            width: 36px;
          }
        }
        &:hover img {
          opacity: 0.6;
        }
      }
    }
    &--sm {
      display: none;
      position: relative;
      z-index: 10;
    }
    &--search-field {
      height: 0px;
      width: 100%;
      position: relative;
      z-index: 1;
      .search-field-drawer {
        width: 100%;
        background: white;
        position: absolute;
        z-index: 0;
        transition: all 0.2s ease-out;
      }
      .--open {
        transform: translateY(0px);
      }
      .--closed {
        transform: translateY(-47px);
      }
      .container {
        display: flex;
        margin-bottom: 0.65rem;
      }
      input {
        width: 100%;
        outline: none;
        padding: 0.5rem 0;
        margin-right: 1.5rem;
        border: 0;
        border-bottom: 2px solid gray;
      }
      button {
        border: 2px solid;
        background-color: transparent;
        color: black;
        padding: 0.5rem 2rem;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.8rem;
        font-family: $font-two;
        &:hover {
          background: #000000;
          color: white;
          border: 2px solid black;
        }
      }
    }
  }
  .side-nav {
    display: none;
  }

  @media (max-width: 768px) {
    .nav {
      height: 100%;
      .container {
        display: none;
      }
    }
    .head--msg {
      button,
      a {
        display: none;
      }
      span {
        margin: 0 auto !important;
        padding: 0.6rem 0;
      }
    }
    .nav--sm {
      height: 3rem;
      display: flex;
      background: white;
      align-items: center;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav--Logo {
          width: 115px;
        }
      }
      button {
        border: 0;
        outline: none;
        background: transparent;
        display: flex;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
      .nav--items {
        &:first-child {
          button:first-child {
            width: 30px;
            margin-right: 1rem;
            img {
              width: 100%;
            }
          }
        }
        &:last-of-type {
          button:first-child {
            img {
              width: 40px;
              object-position: top;
              object-fit: cover;
              height: 35px;
              margin-right: 0.5rem;
            }
          }
          img {
            width: 25px;
          }
        }
      }
    }
    .nav--search-field {
      button {
        padding: 0.25rem 0.75rem;
      }
    }
    .--open-nav {
      transform: translateX(0%);
    }
    .--close-nav {
      transform: translateX(-100%);
    }
    .side-nav {
      font-family: $font-two;
      background: #ffffff;
      transition: all 0.3s ease-out;
      position: fixed;
      color: rgb(0, 0, 0);
      display: block;
      height: 100vh;
      width: 100vw;
      z-index: 20;
      top: 0;
      left: 0;
      &--wrapper {
        padding-left: 1rem;
        height: 100%;
        width: 100%;
        .side-drawer {
          &-catgs {
            display: flex;
            width: 100%;
          }
          &-exit {
            width: 50px;
            display: flex;
            margin-right: 1rem;
            align-items: center;
            cursor: pointer;
            position: relative;
            .exit-btn {
              width: 70%;
              height: 3px;
              background: rgb(0, 0, 0);
              transform: rotate(45deg);
              &::before {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background: inherit;
                transform: rotate(90deg);
              }
            }
            &:hover {
              opacity: 0.7;
            }
          }
          &-tabs {
            display: flex;
            width: 100%;
            .tabs-shop,
            .tabs-about {
              width: 50%;
              padding: 1rem 0 1rem 2.5rem;
              font-weight: 700;
              font-size: 0.96rem;
            }
            .tabs-about {
              background-color: black;
              color: white;
              &:hover {
                background-color: #161616;
              }
            }
          }
        }
      }
      &--menu {
        height: 100%;
        ul {
          list-style: none;
          padding-left: 0.5rem;
        }
        li {
          margin: 3rem 0;
          font-size: 0.95rem;
          text-transform: uppercase;
          font-weight: 600;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      &--footer {
        position: absolute;
        color: $txt-prim-color;
        bottom: 0.65rem;
        z-index: 10;
        font-weight: 700;
        width: 100%;
        text-align: center;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
  }
}

/////// Footer
.footer {
  background: #151515;
  font-family: $font-two;
  position: relative;
  color: #f1f1f1;
  padding: 2rem 0;
  height: 12rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-size: 0.75rem;
    font-weight: 400;
    li {
      margin: 0 0.65rem;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &--grid-wrapper {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
  }
  &--gridbox-ft {
    form {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1rem;
    }
    input,
    button {
      padding: 0.5rem;
      border: 0;
    }
    button {
      background: $txt-sec-color;
      color: $txt-white;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background: #2b97c5;
      }
    }
    span,
    a {
      font-size: 0.8rem;
      color: $txt-white;
    }
    span {
      font-weight: 300;
      line-height: 1.5;
    }
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  &--gridbox-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    span {
      color: #808080;
      font-size: 0.75rem;
      position: absolute;
      bottom: 0.5rem;
    }
  }
  &--gridbox-thr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    span {
      margin: 0.2rem 0 0.5rem;
      font-weight: 200;
      font-size: 0.85rem;
    }
    ul {
      justify-content: space-evenly;
      width: 100%;
    }
    li {
      cursor: pointer;
      &:hover img {
        opacity: 0.7;
      }
    }
  }
  @media (max-width: 768px) {
    height: 100%;
    .footer--grid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "input input"
        "links links";
    }
    .footer--gridbox-ft {
      grid-area: input;
      text-align: center;
      form {
        flex-direction: column;
        button {
          margin-top: 1rem;
        }
      }
    }
    .footer--gridbox-sec {
      margin-top: 1rem;
      grid-area: links;
      ul {
        margin-bottom: 1.5rem;
        justify-content: center;
      }
    }
    .footer--gridbox-thr {
      display: none;
    }
  }
}

/////// Main --Landing-Page
.main {
  &--hero {
    height: calc(100vh - 87px);
    @include cover-poser(center);
  }
  &--hero-over {
    @include cover-overtop();
    font-family: $font-two;
    background: #0000006e;
    z-index: 0;
  }
  &--hero-over-txt {
    display: flex;
    flex-direction: column;
    left: 5rem !important;
    right: 5rem !important;
    @include cover-heading();
    h1 {
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.25;
    }
    p {
      letter-spacing: 0.1rem;
      font-weight: 500;
      font-size: 0.95rem;
      margin-left: 0.5rem;
      margin-bottom: 1.75rem;
      margin-top: 1.25rem;
    }
    button {
      background-color: #171717;
      letter-spacing: 0.5px;
      margin-left: 0.5rem;
      font-weight: 500;
      font-size: 0.8rem;
      color: #ccc;
      cursor: pointer;
      width: 150px;
      height: 50px;
      border: 0;
      &:hover {
        background-color: #444444;
        color: #fff;
      }
    }
  }
  &--hero-over-comp {
    @include cover-comptext();
  }
  &--section-intro {
    padding: 4rem 0 4.5rem;
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.6;
      justify-content: center;
      text-align: center;
      width: 750px;
      margin: 0 auto;
      p {
        color: $txt-paragraph;
        font-size: 1.15rem;
        font-weight: 500;
        text-transform: lowercase;
        font-family: $font-two;
      }
      div {
        width: 190px;
        display: inline-block;
        margin-bottom: 1rem;
      }
      a {
        align-self: baseline;
      }
      button {
        background: #000000;
        margin-top: 1.95rem;
        font-weight: 500;
        cursor: pointer;
        font-size: 0.95rem;
        padding: 0.95rem 1rem;
        color: white;
        border: 0;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
  }
  &--section-prods {
    height: 100%;
    width: 100%;
    background: white;
    &-box {
      display: block;
      overflow: hidden;
      h3 {
        margin: 1.5rem auto;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        font-family: $font-two;
      }
      h4 {
        text-align: center;
        font-weight: 400;
        color: white;
      }
    }
    &-grid {
      margin: 0 auto 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      grid-gap: 1.5rem;
    }
    .card {
      @include cover-poser;
      height: 500px;
      width: 100%;
      color: white;
      cursor: pointer;
      &--over {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #00000078;
        transition: all 0.2s ease-out;
        span {
          font-family: $font-two;
          font-weight: 800;
          letter-spacing: 1.5px;
          font-size: 1.15rem;
        }
      }
      &:hover {
        .card--over {
          background: #00000033;
        }
      }
    }
  }
  &--section-cover {
    @include cover-poser(right bottom);
    font-family: $font-two;
    .cover-over {
      @include cover-overtop;
      &-txt {
        @include cover-heading(4rem);
        text-align: right;
        h3 {
          font-size: 3.5rem;
          font-weight: 800;
          width: 70%;
          margin-left: auto;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1rem;
          color: white;
          font-weight: 500;
        }
        button {
          color: #fff4df;
          border: 0;
          margin-top: 2rem;
          padding: 0.75rem 0.8rem;
          cursor: pointer;
          background: #ff7600;
          &:hover {
            background: #d33e18;
          }
        }
      }
    }
  }
  &--section-iframe {
    @include iframeContainer(49.5%);
  }
  &--section-instagram {
    font-family: $font-two;
    width: 100%;
    height: 100%;
    display: block;
    padding: 2rem 0 3rem;
    h4 {
      font-weight: 500;
      margin-bottom: 0.45rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &--section-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .grid-txt {
      display: flex;
      padding: 1.5rem 2.5rem;
      font-family: $font-two;
      line-height: 1.75;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 0.85rem;
        color: $txt-paragraph;
        margin: 1rem 0;
      }
      button {
        align-self: baseline;
        cursor: pointer;
        margin: 1rem 0;
        border: 0;
        font-weight: 600;
        padding: 0.75rem 0.56rem;
        border: 1.5px solid;
        background: transparent;
        &:hover {
          background: #000000;
          color: white;
          border: 1.5px solid black;
        }
      }
    }
    .grid-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .instagram {
    &-username {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      span {
        font-weight: 600;
        margin: 0 0.5rem;
      }
      img {
        width: 14px;
        margin-left: 0.15rem;
        margin-bottom: -0.1rem;
      }
    }
    &--grid {
      display: grid;
      grid-template-columns: repeat(3, 320px);
      justify-items: center;
      grid-gap: 3em;
      margin: 2rem 0;
    }
    &--img {
      height: 320px;
      width: 320px;
      background: gainsboro;
      img {
        width: inherit;
      }
    }
  }
  @media (max-width: 1200px) {
    .main--hero {
      &-over-txt {
        left: 3rem !important;
        right: 3rem !important;
      }
      &-over-comp {
        right: 3rem;
      }
    }
    .instagram {
      &--grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
      }
      &--img {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    }
    .main--section-cover {
      background-position: center;
      .cover-over {
        &-txt {
          right: 1rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .main--hero {
      height: 50vh;
      &-over-txt {
        left: 1.5rem !important;
        right: 1.5rem !important;
        top: 2rem;
        h1 {
          font-size: 2.25rem;
        }
        p {
          font-size: 0.75rem;
          line-height: 1.5;
          width: 65vw;
        }
        button {
          height: 40px;
        }
      }
      &-over-comp {
        font-size: 0.75rem;
        right: 2rem;
      }
    }
    .main--section-intro {
      &-box {
        width: 90%;
      }
    }
    .main--section-iframe {
      @include iframeContainer(56.26%);
    }
    .main--section-prods-box {
      margin: 0;
      grid-gap: 0;
    }
    .main--section-prods {
      .card {
        background-position: center;
        height: 405px;
      }
      &-grid {
        margin: 0 auto 1rem;
        grid-gap: 1rem;
      }
    }
    .main--section-cover {
      background-position: center bottom;
    }
    .main--section-grid {
      padding: 0 !important;
    }
    .instagram {
      &--grid {
        grid-gap: 1rem;
      }
    }
  }
  @media (max-width: 500px) {
    .main--section-intro {
      padding: 2rem 0 2.5rem;
    }
    .main--section-cover {
      height: 230px !important;
      .cover-over {
        width: calc(100% + 3rem);
        background: linear-gradient(-10deg, #4e4e4ed9, transparent);
        margin: 0 -1.5rem;
        .cover-over-txt {
          right: 1.25rem;
          width: 188px;
          top: 1.5rem;
          h3 {
            font-size: 1.5rem;
          }
          p {
            font-size: 0.75rem;
          }
          button {
            padding: 0.5rem 0.8rem;
          }
        }
      }
    }
    .main--section-intro-box {
      div {
        width: 140px;
      }
      p {
        font-size: 0.85rem;
      }
      button {
        padding: 0.5rem 0.5rem;
        margin-top: 1.65rem;
        font-size: 0.85rem;
      }
    }
    .main--section-prods-box {
      .container {
        padding: 0 1rem;
      }
    }
    .main--section-prods-grid {
      grid-gap: 0;
      .card {
        height: 235px;
        background-position: center;
        &--over {
          background: #000000b8;
          span {
            font-size: 0.95rem;
          }
        }
      }
    }
    .main--section-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "img1"
        "row1"
        "img2"
        "row2";
      .grid-txt button {
        margin: 1rem 0 0 auto !important;
        padding: 0.5rem 0.8rem;
      }
      div {
        &:nth-child(2) {
          grid-area: img1;
        }
      }
    }
    .main--section-grid .grid-img img {
      width: 100%;
      object-fit: cover;
      height: 230px;
    }
    .main--section-instagram .container {
      padding: 0 0.5rem;
      .instagram--grid {
        grid-gap: 0.15rem;
      }
      .instagram--img {
        img {
          width: inherit;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

/////// Main --Sign-In-Page
.main {
  &--signin-wrapper {
    display: grid;
    grid-template-columns: repeat(2, calc(50vw / 2));
    grid-gap: 5rem;
    align-items: baseline;
    justify-content: center;
    padding: 3.5rem 0 4rem;
    font-family: $font-two;
    h3,
    label {
      font-weight: 600;
    }
    p,
    ul {
      font-size: 0.9rem;
      color: $txt-paragraph;
      line-height: 1.75;
    }
    .signin-content {
      &-ft {
        button {
          border: 0;
          cursor: pointer;
          background: #000000;
          align-self: baseline;
          color: white;
          font-size: 0.95rem;
          padding: 1rem 1.15rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            background: #1f1f1f;
          }
        }
        input {
          padding: 0.75rem 0.5rem;
          background: transparent;
          margin: 0.5rem 0 1.5rem;
          border: 2px solid #4d4d4d;
        }
        a {
          text-decoration: none;
          color: $txt-sec-color;
          font-weight: 500;
          font-size: 0.85rem;
          &:hover {
            opacity: 0.6;
          }
        }
        form {
          display: flex;
          flex-direction: column;
        }
        div p {
          margin: -1.2rem 0 0.5rem;
        }
        p {
          margin: 1rem 0 1.5rem;
        }
        label:last-of-type {
          align-self: baseline;
          margin: 1rem 0 0.5rem;
          font-size: 0.9rem;
          input {
            margin-right: 0.5rem;
          }
        }
      }
      &-sec {
        button {
          border: 0;
          cursor: pointer;
          background: #000000;
          align-self: baseline;
          color: white;
          font-size: 0.95rem;
          padding: 1rem 1.15rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            background: #1f1f1f;
          }
        }
        ul {
          margin-left: 1rem;
          margin-bottom: 1rem;
          list-style: circle;
        }
        p {
          margin: 1rem 0 0;
        }
      }
      &-ft,
      &-sec {
        display: block;
        height: 100%;
        margin: 0 1.25rem;
      }
    }
  }
  @media (max-width: 1200px) {
    .main--signin-wrapper {
      grid-template-columns: repeat(2, 50%);
    }
  }
  @media (max-width: 768px) {
    .main--signin-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

/////// Main --Sign-Up-Page
.main {
  &--signup-wrapper {
    display: block;
    width: 100%;
    font-family: $font-two;
    padding: 3.5rem 0 4rem;
    .signin-content-sec {
      display: block;
      height: 100%;
      margin: 0 6.25rem;
      p {
        margin: 1rem 0 0;
      }
    }
    h3,
    label {
      font-weight: 600;
    }
    p,
    ul {
      font-size: 0.9rem;
      color: $txt-paragraph;
      line-height: 1.75;
    }
    ul {
      margin-left: 1rem;
      margin-bottom: 1rem;
      list-style: circle;
    }
  }
  &--signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    &-note {
      align-self: baseline;
      margin: 0 6.25rem 1rem;
      color: $txt-sec-color !important;
    }
    form {
      width: 100%;
      display: flex;
      padding: 0 6.25rem;
      flex-direction: column;
      line-height: 1.75;
      input {
        padding: 0.65rem 0.5rem;
        background: transparent;
        margin: 0.5rem 0 1.5rem;
        border: 2px solid #4d4d4d;
      }
      div p {
        margin: -1.2rem 0 0.5rem;
      }
      button {
        border: 0;
        cursor: pointer;
        margin-top: 1rem;
        background: #000000;
        align-self: baseline;
        color: white;
        font-size: 0.95rem;
        padding: 0.75rem 1rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
    &-checkboxs {
      display: flex;
      flex-direction: column;
      label {
        font-weight: 500;
        font-size: 0.95rem;
      }
      input {
        margin-right: 0.5rem !important;
      }
    }
  }
  @media (max-width: 1000px) {
    .main--signup-wrapper {
      .signin-content-sec {
        margin: 0 1.25rem;
      }
      .main--signup-content-note {
        margin: 0 1.25rem 1rem;
      }
      form {
        padding: 0 1.25rem;
      }
    }
  }
  @media (max-width: 768px) {
    .main--signup-content {
      width: 100%;
    }
  }
}

// Main --Shop/Surfbards-Page
.main {
  .products--hero {
    padding: 1.5rem 0 0;
    &-bg {
      background-position: 0% 72%;
      background-size: cover;
      height: 350px;
      width: 100%;
    }
    &-over {
      background: linear-gradient(0deg, #00000069 0%, transparent 50%);
      height: inherit;
      width: inherit;
      position: relative;
      span {
        position: absolute;
        color: white;
        font-size: 0.85rem;
        bottom: 1rem;
        right: 2.5rem;
      }
    }
  }
  .products--main {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    &-aside {
      font-family: $font-two;
      min-height: 100vh;
      width: 307px;
      padding: 1rem 0.5rem;
      ul {
        padding: 1rem 0;
        list-style: none;
        overflow: hidden;
      }
      li {
        margin: 0.5rem 0;
        &:nth-child(n + 2):before {
          content: "+";
          display: inline-flex;
          color: $txt-paragraph;
          margin-right: 0.5rem;
        }
      }
      a {
        text-decoration: none;
        color: $txt-prim-color;
        font-weight: 600;
        font-size: 0.95rem;
      }
      p {
        line-height: 1.5;
        color: $txt-paragraph;
        font-size: 0.8rem;
      }
    }
    &-store {
      padding: 0 1rem;
      margin: 0 1rem;
      width: 100%;
    }
    &-sublist {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 1rem;
      a {
        margin: 0.5rem 0;
        font-size: 0.8rem;
        text-decoration: underline;
        text-decoration-color: #bdbdbd;
        color: #1f1f1f;
        font-weight: normal;
        &:hover,
        &:focus {
          text-decoration-color: #1277c2;
          color: #1277c2;
        }
      }
    }
    h3 {
      color: $txt-prim-color;
      margin-bottom: 0.5rem;
      font-family: $font-two;
      font-size: 1rem;
      font-weight: 800;
    }
  }
  .products {
    &--card-wrapper {
      padding: 1rem 0;
    }
    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      grid-gap: 1.5rem;
      a {
        text-decoration: none;
        transition: 0.2s all ease-out;
      }
      a:hover {
        transform: scale(1.05);
      }
    }
    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      padding: 1rem 1rem 0;
      overflow: hidden;
      box-shadow: 0px 5px 15px #0000005c;
      img {
        width: 200px;
        height: 200px;
        object-fit: scale-down;
        object-position: center;
      }
      &-flex {
        display: flex;
        flex-direction: column;
        width: calc(100% + 2rem);
        position: relative;
        align-items: center;
        padding: 0.3rem 0 0.75rem;
        margin-top: 1rem;
        background: $txt-prim-color;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 105%;
          height: 91%;
          right: 0;
          top: 0;
          background: inherit;
          position: absolute;
          transform: rotate(5deg);
          transform-origin: right;
        }
        span {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          color: #9c9c9c;
          z-index: 5;
          &:last-of-type {
            margin-bottom: 0;
            font-size: 0.95rem;
            color: #f9f9f9;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .products--hero-bg {
      width: 95%;
      margin: 0 auto;
    }
    .products--hero-over {
      width: 100%;
    }
    .products--main-aside {
      display: none;
    }
    .products--main {
      padding: 0.5rem 1.5rem 1.5rem !important;
    }
    .products--main-store {
      padding: 0;
      margin: 0;
    }
    .products--item-flex {
      padding: 0.3rem 0.5rem 0.75rem;
      text-align: center;
    }
  }
  @media (max-width: 815px) {
    .products--item img {
      width: 100%;
    }
    .products--grid {
      grid-template-columns: 1fr 1fr;
    }
    .products--item-flex {
      height: 85px;
    }
  }
}

/////// Main --Product-Page
.main {
  &--product {
    padding-top: 1.5rem;
    &-header {
      display: block;
      width: 100%;
    }
    .carousel {
      * {
        background: white !important;
      }
      .control-prev.control-arrow:before {
        border-right: 8px solid #151515 !important;
      }
      .control-next.control-arrow:before {
        border-left: 8px solid #151515 !important;
      }
      &--image {
        height: 315px;
        object-fit: contain;
        object-position: center;
        margin: 0 0 2.2rem;
        background: white;
      }
      .control {
        &-dots .dot {
          background: #444444 !important;
        }
      }
    }
    &-cart {
      margin: 1.5rem 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-desc {
      margin: auto;
      width: 75%;
      color: $txt-paragraph;
      font-size: 0.85rem;
      line-height: 1.5;
      font-family: $font-two;
    }
    &-details {
      font-family: $font-two;
      margin: 4rem 0 2rem;
      background: #151515;
      .extra-info {
        font-size: 0.9rem !important;
        font-weight: 600;
        margin: 0 !important;
      }
      .iframe-container {
        @include iframeContainer();
      }
      .details-flex {
        color: #f9f9f9;
        padding: 2rem;
        display: flex;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: space-around;
        &-btn {
          width: 60%;
          display: flex;
          margin: 0 auto;
          align-items: baseline;
          button {
            color: white;
            background: transparent;
            border: 2px solid darkgray;
            padding: 1rem 2rem;
            margin: 0 auto;
            font-size: 1rem;
            font-weight: 600;
          }
        }
        &-txt {
          padding-top: 0.5rem;
          line-height: 1.9;
          width: 100%;
          p {
            font-size: 1.35rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
          }
        }
        &-table {
          margin-bottom: 2rem;
          .table-data {
            &--row {
              width: 100%;
              height: 100%;
            }
            &--main {
              width: 40%;
              font-weight: 600;
              font-size: 0.85rem;
            }
            &--specs {
              font-weight: 400;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  .product {
    &-info {
      display: flex;
      flex-direction: column;
      font-family: $font-two;
      align-items: flex-start;
      span {
        margin: 0 0 0.5rem;
        font-size: 0.95rem;
        color: #242424;
        font-weight: 500;
        &::before {
          content: "Name: ";
          font-weight: 700;
          margin-right: 0.55rem;
          color: $txt-prim-color;
        }
        &:last-of-type {
          font-weight: 700;
          &::before {
            content: "Price: ";
            font-weight: 700;
            margin-right: 1rem;
            color: $txt-prim-color;
          }
        }
      }
    }
    &-btns {
      &-select {
        padding: 0.7rem 0.75rem;
      }
      .button-md {
        padding: 0.75rem 0.85rem;
        margin-left: 0.5rem;
        cursor: pointer;
        border: 0;
        color: white;
      }
      .cart-btn {
        background: #61c323;
        &:hover {
          background: #6fd82d;
        }
      }
      .wish-btn {
        background: #151515;
        &:hover {
          background: #242424;
        }
      }
      .extra-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: $font-two;
        margin-top: 0.5rem;
        line-height: 1.65;
        font-size: 0.8rem;
        span {
          color: $txt-paragraph;
          &:last-of-type {
            color: #3f9409;
            font-weight: 500;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .main--product-header {
      .container {
        padding: 0;
      }
    }
  }
  @media (max-width: 768px) {
    .main--product-desc {
      margin: 2rem auto 0;
      width: 100%;
    }
    .main--product-details {
      margin: 2rem 0;
      .details-flex {
        flex-flow: column-reverse;
      }
      .details-flex-btn {
        display: block;
        margin: 0;
        button {
          margin: 2rem auto 0;
          font-size: 0.75rem;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .main--product-cart {
      flex-direction: column;
      .product-btns {
        display: flex;
        flex-direction: column;
        width: 100%;
        select,
        button {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

/////// Main --Cart-Page
.main {
  &--cart {
    padding: 2rem 0 0;
    &-msg {
      width: max-content;
      line-height: 1.5;
      margin: 4rem auto 7rem;
    }
    .msg-box {
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        font-size: 1.15rem;
        font-weight: 500;
        margin: 0 0 0.75rem 0;
      }
      p {
        color: $txt-paragraph;
        text-align: center;
        font-size: 0.95rem;
        line-height: 1.7;
      }
      button {
        margin: 0.95rem 0 0;
        border: 0;
        padding: 0.65rem 0.75rem;
        color: white;
        background: #151515;
        &:hover {
          background: #242424;
        }
      }
      a {
        margin: 1rem 0;
        color: $txt-sec-color;
        &:hover {
          color: midnightblue;
        }
      }
    }
    &-footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: baseline;
      justify-content: space-between;
      .footer-box {
        ul {
          margin: 0.5rem 0 2rem;
          list-style: none;
          line-height: 2;
          color: $txt-paragraph;
        }
        li {
          font-size: 0.85rem;
        }
        .flex-cards {
          display: flex;
          flex-wrap: nowrap;
          img {
            width: 65px;
            margin-top: 1rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .main--cart {
      padding: 2rem 3rem 0;
    }
  }
  @media (max-width: 768px) {
    .main--cart {
      padding: 2rem 1.5rem 0;
    }
    .main--cart-footer {
      grid-template-columns: 1fr 1fr;
      .flex-cards:last-of-type {
        padding-bottom: 3rem;
      }
    }
  }
  @media (max-width: 500px) {
    .main--cart-footer {
      grid-template-columns: 1fr;
    }
  }
}

/////// Main --About-Page
.main {
  &--about {
    padding: 0 0 2rem;
    &-hero {
      padding: 0 2rem;
      img {
        width: 100%;
        margin: 2rem 0;
        &:last-of-type {
          margin: 2rem 0 1.5rem;
        }
      }
      p {
        color: $txt-paragraph;
        line-height: 1.5;
        font-size: 1rem;
        &:nth-child(n + 3) {
          margin: 0 0 1.5rem;
        }
      }
    }
    &-iframe {
      @include iframeContainer();
      margin: 0 2rem;
    }
    &-jobs {
      padding: 1.5rem 2rem;
      h3 {
        margin: 0 0 0.5rem;
        width: fit-content;
        font-size: 1.15rem;
        font-family: $font-two;
      }
      p {
        color: $txt-paragraph;
        line-height: 1.5;
      }
      button {
        margin-left: auto;
        padding: 0.65rem 0.75rem;
        border: 0;
        background-color: black;
        cursor: pointer;
        color: white;
        display: block;
        &:hover {
          background: #242424;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .main--about-hero {
      padding: 0 1rem;
      img {
        margin: 1.5rem 0;
        &:last-of-type {
          margin: 1.5rem 0;
        }
      }
    }
    .main--about-iframe {
      margin: 0 1rem;
    }
    .main--about-jobs {
      padding: 1.5rem 1rem;
      button {
        margin-top: 1rem;
      }
    }
  }
}
